coreos.inst.insecure=true coreos.inst.install_dev=/dev/sda coreos.inst.ignition_url={{webserverUri}}/{{config.cluster_name}}/ignition/{{machine_type}}.ign ip={{machine_ip}}::{{static_ip.gateway}}:{{static_ip.netmask}}:{{machine_name}}:{{static_ip.network_interface_name}}:none nameserver={{static_ip.dns}}
