apiVersion: v1
baseDomain: {{ config.base_domain }}
{% if proxy.enabled == True %}
proxy:
  httpProxy: {{ proxy.http_proxy_url }}
  httpsProxy: {{ proxy.https_proxy_url }}
  noProxy: {{ proxy.noProxy }}
{% endif %}
{% if ca.enabled == True %}
additionalTrustBundle: |
{{ lookup('file','/tmp/ca.pem') }}
{% endif %}
compute:
- hyperthreading: Enabled   
  name: worker
  replicas: 0 
controlPlane:
  hyperthreading: Enabled   
  name: master
  replicas: 3 
metadata:
  name: {{ config.cluster_name }}
platform:
  vsphere:
    vcenter: {{ vcenter.ip }}
    username: {{ vcenter.service_account_username }}
    password: {{ vcenter.service_account_password }}
    datacenter: {{ vcenter.datacenter }}
    defaultDatastore: {{ vcenter.datastore }}
pullSecret: '{{ config.pull_secret | to_json }}'
sshKey: '{{ config.installer_ssh_key }}'
